html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: rgb(28, 27, 27);

    
  }
}

table{
  background-color: blueviolet;
  margin: 20px;
}
.cheldren{
  position: relative;
  top: 70px;
}
header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  box-shadow: 0 0 10px rgba(13, 13, 13, 0.554);
  background: rgb(34, 34, 35);
  /* backdrop-filter: blur(10px); */
  z-index: 100;
  display: flex;
    justify-content: space-between;
    align-items: center;

  
}


header ul{
  display: flex;
  cursor: pointer;
  gap: 40px;
  width: 100%;
  list-style: none;
  font-weight: 400;
  font-size: 13px;
}
header span{

}
.texts{
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.text{
  width: 60%;
  line-height: 40px;
}
.text img{
  width: 800px;
}
.All-illness{
  display: flex;
  justify-content: right;
 
}

.All-illness section{
  display: flex;
  flex-wrap: wrap;
  justify-content: right; 
  width: 370px;
  padding-top: 20px;
  height: 87vh;
  background: rgb(34, 34, 35);
  overflow-y: scroll;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.086), 0 0 10px rgba(10, 10, 10, 0.538);
  right: 10px;
  position: fixed;
  padding-bottom: 20px;
  
  padding-right: 20px;
  
}
.All-illness section select{
  width: 150px;
  height: 35px;
  position: absolute;
  border-radius: 10px;
  left: 10px;
  background-color: rgba(40, 41, 41, 0);
}
.All-illness section select option{
  background-color: #191A1E;
}
.All-illness section::-webkit-scrollbar {
  width: 10px;
  padding-top: 20px;

}

/* Track */
.All-illness section::-webkit-scrollbar-track {
  background: transparent;
  /*box-shadow: inset 0 0 5px #dddddd;*/
  border-radius: 4px;
}

/* Handle */
.All-illness section::-webkit-scrollbar-thumb {
  background: linear-gradient(to top,rgb(56, 55, 55),rgb(29, 29, 29),rgb(22, 22, 22));
  height: 60px;
  border-radius: 4px;
}
.All-illness section:hover::-webkit-scrollbar-thumb {
  background: linear-gradient(to top,rgb(94, 93, 93),rgb(29, 28, 28));

}

.All-illness section h2{
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(84, 84, 85);
  cursor: pointer;
  position: relative;
  left: 15px;
}
.All-illness .filter .searc{
  position: relative;
}
.All-illness .filter svg{
  position: absolute;
    z-index: 10;
    left:3px;
    top: 6px;
    width: 25px;
}
.illness{
  position: relative;
  width: 100%;
  justify-content: right;
  
}
.All-illness select{
  position: absolute;
}
.All-illness hr{
border: 0.03px solid rgb(35, 35, 35);
}
.illness h3{
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: rgb(210, 219, 219);
}
.illness h3:hover{
  color: rgb(0, 255, 247);
}

.item-illness{
  display: flex;
  align-items: center;
  display: flex;
  gap: 10px;



}
.illness span{
  font-size: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 15px;
  color: rgb(156, 155, 155);

}
.item-illness p{
  font-size: 12px;
  color: rgb(100, 100, 100);
}

/* search tab */
.container {
  position: relative;
  --size-button: 40px;
  left: 100px;
  transform: scale(.8);
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #202022;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus{
 
  width: 250px;
  cursor: text;
  padding-right: 10px;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus  {
  pointer-events: all;
  cursor: pointer;
}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.container .icon svg {
  width: 100%;
  height: 100%;
}
.data{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  border: 1px solid rgb(88, 88, 88);
  line-height: 29px;
  width: 65%;
  padding-top: 20px;
  height: 88vh;
  background: rgb(34, 34, 35);
  overflow-y: scroll;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.641), 0 0 20px rgba(10, 10, 10, 0.69);
  left:50px;
  position: fixed;
  padding-bottom: 20px;
  
  padding-right: 20px;
  
}
.data::-webkit-scrollbar {
  width: 10px;
  padding-top: 20px;

}

/* Track */
.data::-webkit-scrollbar-track {
  background: transparent;
  /*box-shadow: inset 0 0 5px #dddddd;*/
  border-radius: 4px;
}

/* Handle */
.datan::-webkit-scrollbar-thumb {
  background: linear-gradient(to top,rgb(56, 55, 55),rgb(29, 29, 29),rgb(22, 22, 22));

  border-radius: 4px;
}
.data:hover::-webkit-scrollbar-thumb {
  background: linear-gradient(to top,rgb(94, 93, 93),rgb(29, 28, 28));

}
.data h3{
  width:100%;
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.data p{
  color: #cfcccc;
}
.search-illness{
  width: 70px;
  height: 35px;
  border-radius: 20px;
  padding-right: 10px;
  background-color: transparent;
  border: 1px solid rgb(162, 160, 160);
  transition: 1s ease;

}
.search-illness:focus{
  outline: none;
  width: 170px;
}
.colc{
  width: 270px;
  height: 160px;
  background:linear-gradient(to bottom,rgb(51, 51, 51),rgb(17, 18, 19));
  padding: 2px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;

}
.dates{
display: none;

width: 90%;
text-align: center;
justify-content: center;
color: #e0e0e9;
}
.show-last-date{
  display: flex;
}
.colc h2{
  color: #c8c8c8;
  font-size: 19px;
}
.colc h4{
  color: #5d5d5f;
}
.colc input{
  width: 20px;
  height: 23px;
  background-color: transparent;
  position: absolute;
  top: 68px;
  left: 20px;
  color: transparent;
  border:0;
  transform: scale(1.7);
}
.colc button{
  width: 100px;
  margin-top: 4px;
  border-radius: 20px;
  background-color:transparent;
  border: 1px solid  ;
}
.colc button:hover{
border: 1px solid rgb(0, 255, 247);
}
.colc input:hover{
  border: 1px solid rgb(0, 255, 247);
}
.alaj{
  display: flex;
  justify-content: center;
}
.data2{
  padding-top: 20px;
  background: rgb(34, 34, 35);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.641), 0 0 20px rgba(10, 10, 10, 0.69);
  padding-bottom: 20px;
  margin-right: 20px;
  width: 70%;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  
  
}

.data2 p{
    width: 90%;
    line-height: 36px;
    color: #c7c2c2;
    font-size: 17px;
    position: relative;
    right: 10px;

}
.data2 h2{
  color: #cbcbce;
  font-size: 20px;

}
.item-alaj{
  margin-bottom: 60px;
}
.data2 h1{
  text-align: center;
  margin-bottom: 40px;
  width: 70%;
}
.data2 table {
    top:10px;
    font-size: 25px;
    padding: 7px;
    background-color: transparent;
}
.data2 table td{
  border: 1px dotted;
  text-align: center;
  padding: 7px;

}
.Alaj-data{
  position: relative;
  
}
.Alaj-head{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.alaj-api{
  padding-right: 20px;
}
.api-alaj h2{
  text-align: center;
  position: relative;
  bottom: 10px;
  cursor: pointer;
}
.api-alaj h1{
  text-align: center;
}
.id-index{
  display: flex;
  align-items: center;

}
.id-index p{
  font-size: 20px;
  position: relative;
  bottom: 3px;
}
.id-index span{
  font-size: 30px;
  position: relative;
  top: -4px;
}
.alaj-api hr{
    width: 40%;   
    font-size: 4px; 
    position: absolute;
}